.categoriesContainer {
    height: 200px;
}

.progressBarDv {
    width: 100%;
    height: 10px;
    background-color: gray;
}

.progressBar {
    height: 10px;
    background-color: green;
}

.winnerCup {
    height: 200px;
}

.displayResult {
    width: 90%;
    border: 2px solid red;
}

.displayQuestion {
    width: 40%;
    border: 1px solid blue;
}

.displayanswer {
    width: 20%;
    border: 1px solid blue;
}

::-webkit-scrollbar {
    display: none;
}